<h3 class="section-title">{{ .titles.contact }}</h3>

<p itemprop="description">
If you want to give a talk, or hold an workshop, or anything else related to OmniOpenCon, let's get in touch:
</p>

<ul class="sponsors-list">
{{ range $contacts := .contact }}
  <li class="sponsor-item" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ .url }}" class="connect-link" itemprop="url" target="_blank">
      <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
    </a>
  </li>
{{ end }}
