<nav id="nav">
  <ul class="wrapper">
    {{ range $section := $.Site.Params.Sections }}
      <li class="nav-item">
        <a href="#{{ $section }}" target="_blank" title="{{ index $.Site.Params.Titles $section }}" class="nav-link">
          {{ index $.Site.Params.Titles $section }}
        </a>
      </li>
    {{ end }}
    {{ with $.Site.Params.PastEditions }}
      <li class="nav-item nav-dropdown">
        <span class="nav-link nav-dropdown-toggle">Past Editions ▾</span>
        <ul class="nav-dropdown-menu">
          {{ range . }}
            <li><a href="{{ .url }}" class="nav-dropdown-link" target="_blank">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</nav>

<hr>
