<h3 class="section-title">{{ .titles.schedule }}</h3>

<p>
OmniOpenCon is a three-day event.
We aim to capture as much of the spirit of open source in talks and workshops workshops and hacking sessions.
Full schedule (speakers, presentations, workshops) will be detailed in the coming days.
</p>

<h4 class="section-title">Day 1: Workshops (Friday, October 17, 2025)</h4>

<p>
Workshops are practical hands-on activities where you can find out about a project or delve deeper into a topic.
Each workshop is allocated 2 hours.
Each workshop can host at most 30 participants.

<p>
Each workshop takes place in its own room.
WiFi is available.
<strong>Please bring your laptop.</strong>
</p>

<h4 class="section-title">Day 2 & 3: Talks (Saturday and Sunday, October 18-19, 2025)</h4>

<p>
Talks will be delivered in English.
Each talk is allocated a 30 minutes talk: 20 minutes for the talk itself, 3-5 minutes for questions.
Each speaker will use their own laptop, together with their demos and setup for the talk.
</p>

<h4 class="section-title">Full Schedule</h4>

<p>
<script type="text/javascript" src="https://sessionize.com/api/v2/86t4gx7d/view/GridSmart"></script>
</p>
