<h3 class="section-title">{{ .titles.speakers }}</h3>

{{ range $speaker := .speakers }}
    <h4>
      {{ .name }}
      (
      {{ if ne .linkedin nil }}
      <a href="{{ .linkedin }}" target="_blank">
          <img src="/img/icon-linkedin.png" alt="{{ .name }}" width="32" height="32" itemprop="image">
      </a>
      ,
      {{ end }}
      {{ if ne .github nil }}
      <a href="{{ .github }}" target="_blank">
          <img src="/img/icon-github.png" alt="{{ .name }}" width="32" height="32" itemprop="image">
      </a>
      {{ end }}
      )
    </h4>
{{ end }}
