<tr class="schedule-entries">
    <td colspan="3">
        <table>
            <tbody>
            {{ range $entry := . }}
                <tr>
                    <td class="schedule-time">
                        <div>{{ .interval }}</div>
                        <div class="schedule-entry-location">{{ .location }}</div>
                    </td>
                    <td>
                        {{ if .person }}
                            {{ partial "schedule/schedule-speaker" (dict "name" .person "photo" .photo) }}
                        {{ end }}
                    </td>
                    <td>
                        <a href="#speaker-{{.ref}}" class="speakers-entry-link">{{ .name }}</a>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </td>
</tr>
